* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe Script', cursive;
}

body {
  background: url("images/bg1.jpg") center/cover no-repeat fixed;
  height: 100vh;
  overflow: hidden;
}

.game {
  height: 100vh;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 20px pink;
}

.ground {
  position: relative;
  height: 65vh;
  margin-top: 40px;
}

.batsman {
  position: absolute;
  left: 60px;
  bottom: 0;
  width: 190px;
}

/* BALL */
.ball {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #ffd6d6, red);
  box-shadow: 0 0 15px red;
}

/* HIT ZONE */
.hit-zone {
  position: absolute;
  left: 250px;
  bottom: 150px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px dashed gold;
  box-shadow: 0 0 30px gold;
}

/* TAP TEXT */
.tap {
  position: absolute;
  left: 255px;
  bottom: 265px;
  font-size: 22px;
  color: gold;
  display: none;
  text-shadow: 0 0 15px gold;
}

/* SCOREBOARD */
.scoreboard {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px;
  background: rgba(0,0,0,0.6);
  padding: 15px 25px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 25px pink;
}
